<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="referrer" content="never">
    <title>Oops!</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<html>
<div class="errorPage">
    <span class="oops">Oops!</span><br/>
    <img class="mb-3" th:src="@{/image/missingPage.png}" >
    <p>There seems to be a problem with the page you requested

        <span th:text="${path}"></span>).</p>
    <p th:text="${'Details: ' + message}"></p>
</div>
</html>
</html>